$primary: #114b5fff;
$secondary: #336699ff;
$accent1: #1a936fff;
$accent2: #88d498ff;
$paper: #f4f4f4ff;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "accent1": $accent1,
    "accent2": $accent2,
    "paper": $paper,
)
